.votingCard {
  height: 35rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  .cardItems {
    border: 2px solid #1c54b2;
    text-align: center;
    height: 18rem;
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  .votingCardElement {
    margin: 1rem;
  }

  .votingCardElement:first-child{
    width: 300px;
    padding:10px;
  }

}