//AppointOne
.form {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .formelements {
    margin: 10px;
  }
}

//AppointTwo
.cardTwo {
  height: 25rem;
  width: 60rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;

  span {
    margin-bottom: 10px;
  }

  .addDateTime {
    margin: 20px;
    padding: 20px;
    height: 270px;
    width: 400px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: stretch;

    .setTime {
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
    }
    .addDateTimeButtons {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
    }
  }

  .displayChosenDates {
    margin: 20px;
    height: 270px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}

//AppointThree
.cardThree {
  height: 30rem;
  width: 60rem;
  margin: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-content: flex-start;
  align-items: center;
}
.formRestaurant {
  width: 400px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.menuIcons {
  width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px;
}

.displayPickedRestaurants {
  margin: 20px;
  height: 270px;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}