.window {
  height: 600px;
  border: 1px solid black;
}
.loginCard .registerCard {
  display: flex;
  justify-content: center;
  align-content: center;
}

.form {
  display: flex;
  flex-direction: column;
}