.settingsdate {
  margin: 0rem 1rem 0rem 1rem;
}

.window {
  margin-top: 1.25rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  block-size: fit-content;
}

.progressBar {
  margin-top: -2rem;
}