.settingsdate {
  margin: 20px;
}

.window {
  display: flex;
  margin-top: 30px;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  block-size: fit-content;
  border: 2px solid black;
}