
body {
  padding: 0;
  margin: 0;
  color: black;
}

.newWindow{
  min-width: 600px;
  min-height:40px;
}

.fcard-list {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  min-height:300px;
  width: 550px;
}

.fcard-list::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.fcard-list::-webkit-scrollbar-thumb {
  background: antiquewhite;
  border-radius: 10px;
  box-shadow: inset 2px 2px 2px hsla(0,0%,39%,.25), inset -2px -2px 2px white;
}

.fcard-list::-webkit-scrollbar-track {
  background: linear-gradient(90deg,antiquewhite,#201c29 1px,#17141d 0,antiquewhite);
}

//RestaurantCardItem

.fcard {
  height: 250px;
  width: 200px;
  min-width: 250px;
  padding: 1.5rem;
  border-radius: 16px;
  background: whitesmoke;
  box-shadow: -0.2rem 0 0.3rem #000;
  display: flex;
  flex-direction: column;
  transition: .2s;
  scroll-snap-align: start;
  clear: both;
  position: relative;
}

.fcard:hover {
  transform: translateY(-2rem);
}

.fcard:hover~.fcard {
  transform: translateX(130px);
}

.fcard:focus-within~.fcard, .fcard:not(:first-child) {
  margin-left: -130px;
}


.fauthor-name {
  grid-area: auto;
  box-sizing: border-box;
}

.fauthor-name-prefix {
  font-style: normal;
  font-weight: 700;
  color: #7a7a8c;
}